body {
    background-color: rgb(223, 232, 232);
    font-family: Cambria, Arial, Helvetica, sans-serif;
    
}

.container {
    background: #FFFFFF;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: teal;
    font-weight: bold;
}

.navigation {
    background-color: #FFCF33;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.navigation ul {
    list-style-type:none;
    margin: 8px;
    padding: 0;
    display: flex;
    flex-direction:row;
}
.navigation a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: teal;
}

.navigation a:hover {
    background-color: rgb(252, 104, 24);
}

.projects img {
    width: 250px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
    }
}

.Main {
    color: black;
    text-align: center;
    height: 900px;
    
}

.frontpage img{
    width: 250px;
    margin: 10px;
}

